<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-xl">
    <a class="navbar-brand d-none d-sm-block" href="#">
      <img
        src="favicon.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
        loading="lazy"
      />
      Radio Guru </a
    ><a class="navbar-brand d-block d-sm-none" href="#">
      <img
        src="favicon.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
        loading="lazy"
      />
    </a>
    <app-marquee class="marquee navbar-text" [nowPlaying]="this.song"></app-marquee>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">
      Use this document as a way to quickly start any new project.<br />
      All you get is this text and a mostly barebones HTML document.
    </p>
  </div>
</main>
<!-- /.container -->
